.albumImage{
text-align: center;
padding: 50px 0px 50px 0px;
}

#mainHeader {
text-align: center;
}

#mainHeader h3 a:link {
text-decoration: none;
}

#mainHeader h3 a:hover {
text-decoration: underline;
background-color: gray;
}

#mainHeader h2 {
padding: 5px 0px 20px 0px;
font-family: monospace;
font-size: 25px;
}

#albumImage {
background-image: url(BillWithersAlbumCover.JPG);
background-repeat: no-repeat;
}

#listHeader {
text-align: center;
font-family: monospace;
font-size: 20px;
}

#memberList {
padding-left: 15%;
font-style: italic;
}

#tableHeader {
text-align: center;
}

.tableContent {
text-align: center;
font-style: italic;
background-color: #E9ADFF;
}