#siteHeader {
text-align: center;
font-family: 'Montserrat', sans-serif;
}

#navBar {
border-style: solid;
border-width: 2px;
border-left: hidden;
border-right: hidden;
padding: 25px 0px 25px 0px;
}

#navBar a:link {
text-decoration: underline;	
}

#navBar a:visited {
color: orange;	
}

#navBar a:hover {
font-weight: bold;	
}

#navBar a:active {
text-decoration: none;	
}

.navOption {
padding-left: 25px;
padding-right: 15px;
}

#mainContent {
background-color: #bfd4db;
padding-bottom: 40px;
}

.firstInput {
font-weight: bold;	
}

.inputItems {
font-weight: bold;
}
.row {
text-align: center;
}

#footer {
text-align: center;
margin-top: 0px;
padding: 15px 0px 25px 0px;
border-style: solid;
border-width: 2px;
border-left: hidden;
border-right: hidden;
}
