#gameTitle {
text-align: center;
padding-bottom: 23px;
}

#betAmount {
text-align: center;
}

#startingBet {
border: hidden;
width: 30px;
}

#textBorder {
padding: 5px;
border-style: solid;
border-width: 1px;
}

#button {
text-align: center;
padding: 25px;
}

#playButton {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 50px;
padding-right: 50px;
}

#results {
}

#caption {
text-align: center;
text-decoration: underline;	
}

#resultTable {
margin: auto;
border-style: solid;
}